<div>
  <dt><%= Notice::Announcement.human_attribute_name(:title) %></dt>
  <dd><%= @annunciation.title %></dd>
</div>
<div>
  <dt><%= Notice::Announcement.human_attribute_name(:body) %></dt>
  <dd><%= @annunciation.body %></dd>
</div>
<div>
  <dt></dt>
  <dd>
    <div class="tags">
      <% @annunciation.annunciates.each do |annunciate| %>
        <div class="tag">
          <%= annunciate.user_tag&.name %>
          <%= button_to admin_annunciate_path(annunciate), method: :delete do %>
            <%= svg_tag 'xmark' %>
          <% end %>
        </div>
      <% end %>
    </div>
  </dd>
</div>
